<script src="/livereload.js?mindelay=10&amp;v=2&amp;port=1313&amp;path=livereload" data-no-instant defer></script><h1>The End | 尾声</h1>
<p>The site has closed since 2024/3/2, permanently. All services that is affiliated to it will close too. Thank you for your company in the past years.</p>
<p>本站自2024年3月2日起永久关闭。一切与其相关的附属服务也将关闭。感谢您数年来的陪伴</p>
<p>This page will remain accessible along with already existed links until the deletion of the site which will be performed by the end of the upstream service contract (e.g. domain name expiration). If your site has the site's link, feel free to delete them.</p>
<p>如果您的网站上有本站的友链，您可以删除它们。本页面将继续保存友链，直到站点因上游服务到期而无法访问</p>
<h2>Links | 友链</h2>
<p>Webring: <a href="https://www.foreverblog.cn/">Forever Blog</a> | <a href="https://www.foreverblog.cn/go.html">Wormhole</a>, <a href="https://travellings.cn/go.html">Travelling</a></p>
<p>Friend: <a href="https://big-cake-jpg.github.io">Big Cake</a></p>
